body, p, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAE8FE;
}

button,
.list {
    cursor: pointer;
}

:root {
    --purple: #6327fe;
}

.clear-fix::after {
    content:'';
	display:block;
	clear:both;
}

.ir {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.title {
    margin: 0 auto 20px auto;
    width: 300px;
    height: 120px;
}

.title img {
    width: 100%;
    height: 100%;
}

.machine-container {
    display: flex;
    justify-content: space-between;
}

.machine {
    background-color: white;
    margin: 0 14px;
}

.machine:first-child {
    padding: 31px 27px 0;
}

.machine:last-child {
    background-color: #EAE8FE;
    padding: 20px 12px 0 12px;
}

.lists {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.list {
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 11px 10px 9px 11px;
    display: block;
    border: none;
    background-color: #ffffff;
}


.list:hover {
    outline: 3px solid var(--purple);
}

.product-name {
    padding: 7px 0;
    font-size: 9px;
    width: 73px;
}

.product-price {
    font-size: 12px;
    line-height: 100%;
    background-color: var(--purple);
    color: #ffffff;
    padding: 5px 16px 5px 15px;
    border-radius: 15px;
}

.info {
    margin-top: 20px;
    display: grid;
    gap: 12px;
    grid-template-columns: 200px 94px;
    grid-template-rows: 33px 33px 106px;
}

.info * {
    border-radius: 5px;
    box-sizing: border-box;
}

.info button {
    border: none;
    font-weight: 600;
}

.get-balance,
.get-deposit {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}

.balance {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px 7px;
}

.deposit {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    padding: 6px 0 6px 8px;
    border: 1px solid #bdbdbd;
}

.cart-list {
    padding: 12px 18px 0 12px;
    overflow-y: scroll;
}

.get-items {
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    background-color: var(--purple);
    color: #ffffff;
}

.info div {
    background-color: #EAE8FE;
}

.top,
.bottom {
    background-color: #ffffff;
    margin: 0 -12px;
}

.top {
    padding: 9px 25px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.bottom {
    padding: 25px 20px 10px 20px;
}

.fund {
    box-sizing: border-box;
    background-color: #EAE8FE;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    border-radius: 5px;
    width: 306px;
}

.fund span {
    float: right;
    font-weight: 700;
}

.left-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 11px;
}

.beverage-list {
    background-color: #EAE8FE;
    padding: 12px 18px 0 12px;
    height: 364px;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 5px;
}

.cost {
    font-size: 12px;
    line-height: 17px;
    margin: 6px 0 37px 0;
    text-align: right;
    font-weight: 600;
}

.detail {
    background-color: #ffffff;
    overflow: hidden;
    margin: 6px 0;
    border-radius: 5px;
}

.beverage-pic {
    float: left;
    display: block;
    width: 18px;
    height: 33px;
    /* padding: 6px 10px; */
    margin: 6px 10px 0;
}

.beverage-name {
    font-size: 9px;
    line-height: 13px;
    padding: 18px 0;
    float: left;
    font-weight: 500;
}

.beverage-num {
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    padding: 3px 10px 5px 10px;
    margin: 8px 0;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 20px;
    font-weight: 600;
    float: right;
    margin-right: 8px;
}

.cart-list::-webkit-scrollbar,
.beverage-list::-webkit-scrollbar {
    width: 8px;
}

.cart-list::-webkit-scrollbar-thumb,
.beverage-list::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    height: 79px;
    background-color: #ffffff;
    border-right: 4px solid transparent;
}

@media screen and (max-width: 360px) {
    body {
        background-color: #fff;
    }
    .title {
        width: 166px;
        height: 71px;
    }
    .machine-container {
        display: block;
    }
    .machine {
        margin: 0;
    }

    .machine:last-child {
        background-color: #fff;
    }
}