body, p, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAE8FE;
}

button,
.list {
    cursor: pointer;
}

:root {
    --purple: #6327fe;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.title {
    margin: 0 auto 20px auto;
    width: 300px;
    height: 120px;
}

.title img {
    width: 100%;
    height: 100%;
}

.machine-container {
    display: flex;
    height: auto;
    justify-content: space-between;
}

.machine {
    background-color: white;
    padding: 20px 12px;
}

.machine:last-child {
    padding: 0 12px;
    background-color: #EAE8FE;
}

.lists {
    display: flex;
}

.list {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 4px;
}

.list:hover {
    border-color: var(--purple);
}

.product-name {
    font-size: 9px;
    padding: 6px;
}

.product-price {
    width: 72px;
    font-size: 12px;
    background-color: var(--purple);
    color: #ffffff;
    padding: 4px 0;
    border-radius: 15px;
}

.info {
    display: flex;
}

.left {
    width: 200px;
    margin: 10px 8px 0 4px;
}

.right {
    width: 98px;
    margin: 10px 8px 0 4px;
}

.balance {
    background-color: #EAE8FE;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 0 7px 10px;
    border-radius: 5px;
    margin: 6px 0;
}

.deposit {
    font-size: 13px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.1);
    padding: 6px 6px 8px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 184px;
    margin: 6px 0;
}

.get-list {
    background-color: #EAE8FE;
    width: calc(100% - 20px);
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    overflow-y: scroll;
}

.get-list::-webkit-scrollbar,
.beverage-list::-webkit-scrollbar {
    width: 8px;
}

.get-list::-webkit-scrollbar-thumb,
.beverage-list::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    height: 79px;
    background-color: #ffffff;
    border-right: 4px solid transparent;
}

.detail {
    background-color: #ffffff;
    overflow: hidden;
    font-size: 9px;
    margin: 6px 0;
    border-radius: 5px;
}

.beverage-pic {
    float: left;
    width: 18px;
    padding: 6px 10px;
    margin-top: 2px;
}

.beverage-name {
    line-height: 13px;
    padding: 18px 0;
    float: left;
    font-weight: 500;;
}

.beverage-num {
    border: 1px solid #bdbdbd;
    padding: 4px 11px 6px 11px;
    margin: 8px 0;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 20px;
    font-weight: 600;
    float: right;
    margin-right: 8px;
}

.function {
    width: 98px;
    font-size: 13px;
    line-height: 19px;
    margin: 6px 0;
    padding: 6px 0 7px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
}

.get {
    background-color: var(--purple);
    width: 100%;
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    padding: 50px 0;
    border-radius: 5px;
}

.top,
.bottom {
    background-color: #ffffff;
}

.top {
    padding: 9px 25px;
    margin-bottom: 12px;
}

.bottom {
    padding: 20px;
}

.fund {
    box-sizing: border-box;
    background-color: #EAE8FE;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 5px;
    width: 306px;
}

.left-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 11px;
}

.beverage-list {
    background-color: #EAE8FE;
    padding: 12px;
    height: 364px;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 5px;
}

.cost {
    font-size: 12px;
    margin: 6px 0 37px 0;
    text-align: right;
}